body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  background-color: rgb(1, 31, 27);
}
.container {
  background-color: rgba(0, 0, 0, 0.747);
  border-radius: 1em;
  padding: 2em;
}
.header{
  font-family: 'Poppins', sans-serif;
  font-size:larger;
  color: rgba(0, 179, 155, 0.932);
}
.Balance-box{
  color: rgba(0, 179, 155, 0.932);
  font-family: 'Poppins', sans-serif;
}