*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  background-color: rgb(118, 126, 125);
}
.container {
  /* From https://css.glass */
  padding: 16px;
  background-color: rgba(2, 39, 33, 0.692);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(14, 18, 17, 0.295);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(0, 41, 33, 0.3);
}
.header h1{
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  display: flex;
  margin: auto;
  justify-content: center;
  color: rgba(0, 179, 155, 0.932);
  text-align: center;
  padding-bottom: 10px;
}
.Balance-box{
  color: rgba(0, 179, 155, 0.932);
  font-family: 'Poppins', sans-serif;
  border-top: solid rgba(0, 179, 155, 0.932);
}
.Balance-box p{
  font-weight: bolder;
  font-size: larger;
}
.Bmove-container{
  display: flex;
  color: rgb(38, 194, 168);
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  gap: 8em;
  padding: 0.4em;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(123, 235, 235, 0.226);
  margin: auto;
  background-color: rgba(0, 179, 155, 0.212);
  backdrop-filter:blur(200px);
}
.Bmove-container h2{
  font-size: 1.3em;
  margin: auto;
  padding: 0.9vh;
}
.addm{
  color: rgba(65, 221, 148, 0.836);
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin: auto;
}
.minm{
  color: rgba(189, 61, 61, 0.904);
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin: auto;
}
.history{
  box-shadow: 0 2px 12px rgba(123, 235, 235, 0.226);
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  border-radius: 16px;
  background-color: rgba(0, 179, 155, 0.212);
  backdrop-filter:blur(200px);
}
.list{
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.list li{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgb(38, 194, 168);
  text-justify: center;
}
.money .minus{
  color: black;
}
.addnew{
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.226);
  font-family: 'Poppins', sans-serif;
  color:rgb(38, 194, 168);
  background-color: rgba(106, 87, 108, 0.72);
  padding: 1em;
  border-radius: 0 0 10px 16px;
}